@import '../../../styles/variables';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;

  &Green {
    border: solid 1px $green;
    color: $green;
  }

  &Yellow {
    border: solid 1px $yellow;
    color: $yellow;
  }

  &Red {
    border: solid 1px $orange;
    color: $orange;
  }
}
