@import '../../../styles/variables';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: normal;
  line-height: 16px;
  font-size: 13px;
  font-weight: bold;
}

.large {
  width: 172px;
}

.small {
  width: 100px;

  @media screen and (max-width: $small-screen) {
    width: 40px;
    padding: 0;
  }
}
