.button {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: normal;
  line-height: 16px;
  font-size: 12px;
  font-weight: bold;
}

.large {
  width: 172px;
}

.small {
  width: 100px;
}
