@import '../../../styles/variables';

.btn {
  height: $button-height;
  border-radius: 3px;
  box-shadow: none !important;
}

.btn-light {
  background-color: $white-four;

  &:hover {
    background-color: $gray-two;
    border: solid 1px $gray-two;
  }

  &:not(:hover) {
    border: solid 1px $white;
  }
}

.btn-primary {
  color: $white-two;
  background-color: $blue;

  &:hover {
    background-color: $dark-blue;
    border: solid 1px $dark-blue;
  }

  &:not(:hover) {
    background-color: $blue;
  }
}
