.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;

  &Green {
    border: solid 1px #4eb495;
    color: #4eb495;
  }

  &Yellow {
    border: solid 1px #ffb300;
    color: #ffb300;
  }

  &Red {
    border: solid 1px #ef6c00;
    color: #ef6c00;
  }
}
