@import '../../styles/variables';

.watchlist {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    'header header'
    'watchlist void';

  .container {
    grid-area: watchlist;
    background-color: $white-two;
    padding: 30px 30px 20px 70px;

    .mainTitle {
      color: $blue;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 15px;
    }
  }
}
