@import '../../styles/variables';

.watchlist {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    'header header'
    'watchlist void';

  @media screen and (max-width: $medium-screen) {
    grid-template-columns: 1fr;
  }

  .container {
    grid-area: watchlist;
    background-color: $white-two;
    padding: 30px 30px 20px 70px;

    @media screen and (max-width: $medium-screen) {
      padding: 30px 20px 20px;
    }
  }
}
