// colors
$black: #000;
$white-four: #ffffff;
$white-two: #f7f7f7;
$white: #e0e0e0;
$green: #4eb495;
$yellow: #ffb300;
$orange: #ef6c00;
$blue: #3971c1;
$dark-blue: #00008b;
$gray: #666666;
$black-two: #292929;
$gray-two: #eeeeee;
$gray-four: #e7e7e7;
$warm-gray: #8c8c8c;
$black-shadow: #00000033;

// style constants
$button-width: 172px;
$button-height: 40px;

// screen sizes
$medium-screen: 1050px;
$small-screen: 700px;
