@import '../../styles/variables';

$rotate-start: 40deg;

.container {
  margin-bottom: 20px;

  .filterHeader {
    display: inline-block;

    @media screen and (max-width: $medium-screen) and (min-width: $small-screen) {
      display: flex;
      justify-content: space-between;
    }

    .mainTitle {
      color: $blue;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .buttons {
      display: flex;
      margin-bottom: 2px;

      @media screen and (max-width: $medium-screen) and (min-width: $small-screen) {
        justify-content: flex-end;
      }

      .active {
        background-color: $gray-two;
        border: solid 1px $gray-two;

        @media screen and (max-width: $small-screen) {
          background-color: $white-four;
          border: solid 1px $white-four !important;
        }
      }

      .filterButton {
        &:first-child {
          margin-right: 6px;
        }

        &:hover .icon {
          transform: scale(1.3);
        }

        &:hover .rotate {
          animation: 1s linear 0s normal none infinite running refresh;

          &:hover {
            @keyframes refresh {
              0% {
                transform: rotate($rotate-start);
              }
              100% {
                transform: rotate(360deg + $rotate-start);
              }
            }
          }
        }
      }

      .filterInnerButton {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .filterButtonLabel {
          @media screen and (max-width: $small-screen) {
            display: none;
          }
        }

        .icon {
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $blue;
        }

        .rotate {
          transform: rotate($rotate-start);
          animation: 5s linear 0s normal none infinite running refresh;

          @keyframes refresh {
            0% {
              transform: rotate($rotate-start);
            }
            100% {
              transform: rotate(360deg + $rotate-start);
            }
          }
        }

        .mirrored {
          transition: 1s;
          transform: scaleX(-1);
        }
      }
    }
  }

  .expandedFilter {
    @media screen and (max-width: $medium-screen) and (min-width: $small-screen) {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
    }

    .triangle {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 12px solid $gray-two;
      margin-left: 9rem;

      @media screen and (max-width: $medium-screen) and (min-width: $small-screen) {
        margin-left: 92%;
      }

      @media screen and (max-width: $small-screen) {
        border-bottom: 12px solid $white-four;
        margin-left: 3.5rem;
      }
    }

    .filter {
      background-color: $gray-two;
      display: inline-block;
      padding: 20px 24px;

      @media screen and (max-width: $medium-screen) and (min-width: $small-screen) {
        padding: 20px 12px;
      }

      @media screen and (max-width: $small-screen) {
        padding: 0;
        background-color: inherit;
        width: 100%;
        height: 100%;
      }

      .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: $small-screen) {
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
        }

        .notForSmallSize {
          @media screen and (max-width: $small-screen) {
            display: none;
          }
        }
      }

      .filterButton:not(:last-child) {
        margin-right: 5px;
      }
    }
  }
}
