@import '../../styles/variables';

.container {
  margin-bottom: 20px;

  .buttons {
    display: flex;
    margin-bottom: 2px;

    .filterButton:first-child {
      margin-right: 6px;
    }

    .filterInnerButton {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .icon {
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $blue;
      }

      .mirrored {
        transform: scaleX(-1);
      }
    }
  }

  .triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid $gray-two;
    margin-left: 10%;
  }

  .filter {
    background-color: $gray-two;
    display: inline-block;
    padding: 20px;

    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .filterButton:not(:last-child) {
      margin-right: 5px;
    }
  }
}
