.container {
  display: flex;
  border-radius: 3px;
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
  margin-bottom: 7px;

  &:last-child {
    margin-bottom: 0;
  }

  .content {
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;

    .info {
      display: flex;
      flex-direction: column;

      .source {
        display: flex;
        align-items: center;

        .thumb {
          width: 18px;
          height: 18px;
          margin-right: 10px;
        }

        .name {
          margin-right: 20px;
        }
      }

      .title {
        margin-bottom: 10px;
      }

      .description {
        margin-bottom: 10px;
      }
    }

    .rating {
      display: flex;
      align-items: center;

      .expand {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        margin-left: 20px;
      }

      .reversed {
        transform: rotate(180deg);
      }
    }
  }

  .image {
    object-fit: cover;
    max-width: 70px;
  }
}
