.container {
  width: 100%;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  border: solid 1px #e2e2e2;
  height: 50px;

  .header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    .avatarContainer {
      display: flex;
      align-items: center;

      .avatar {
        background-color: pink;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 6px;
      }
    }
  }

}
