@import 'bootstrap/dist/css/bootstrap.min.css';
@import './styles/variables';

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  line-height: normal;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: $white-two !important;
}

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
