.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 40px;

  .value {
    font-size: 13px;
    font-weight: bold;
    color: #292929;
  }

  .title {
    font-size: 10px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #666;
  }
}
